<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>时尚风范</title>
    <link rel="stylesheet" href="./index.css" type="text/css" />
    <script src="./index.js"></script>
  </head>
  <body>
    <div class="img-list">
      <div class="header">我是写真集</header>
    </div>
      <Form action="http://localhost:3333/" method="post">
        <Button type="submit">提交</Button>
      </Form>
  </body>
</html>
